<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	 <!-- SQL Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- JDBC Database connection settings -->
        
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/admin_portal</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Virat@58143</property>

       
		<property name="hibernate.current_session_context_class">thread</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Update the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity class mappings -->
        <mapping class="com.addmission.addmission_class"/>
        <mapping class="com.feedback.feedback_class"/>
        <mapping class="com.contact.contact_class"/>
        <mapping class="com.admin_main.AdminMainClass"/>
        <mapping class="com.installment.installment_class"/>
    </session-factory>
</hibernate-configuration>
